.searchLoc {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.searchLoc .tooltip2 {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.searchLoc:hover .tooltip2 {
  visibility: visible;
}

.currentLoc {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.currentLoc .tooltip1 {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.currentLoc:hover .tooltip1 {
  visibility: visible;
}

.save-information-btn:hover {
  background-color: rgb(83 105 214);
}

.disaster-info-bottom-table {
  margin-top: 35px;
}

.disaster-info-form { 
  width: 100%;
  /* max-width: 100vw; */
  padding: 15px;
}

/* .disaster-info-form {
  display: flex;
  flex-flow: column wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 90% !important;
  max-width: 800px;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
} */

.requested-resources-table {
  margin-top: 40px;
}

@media only screen and (max-width: 767px) {
  .disaster-info-title {
    font-size: 30px !important;
  }
  .disaster-info-form {
    max-width: 100vw;
  }
}
